name: app
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  http: ^1.6.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/
  fonts:
    - family: Jura
      fonts:
        - asset: assets/fonts/Jura-Regular.ttf
        - asset: assets/fonts/Jura-Medium.ttf
          weight: 500
        - asset: assets/fonts/Jura-SemiBold.ttf
          weight: 600
        - asset: assets/fonts/Jura-Bold.ttf
          weight: 700
